$itemMargin: 3px;
$itemPadding: 6px;

.dnb-blog-container {
    display: flex;
    flex-direction: row-reverse;
    padding-top: $itemPadding;
    position: relative;

    $boderImg: 9px;

    .dnb-blog-datacontext {
        width: 39%;
        min-width: 570px;
        background-color: #f7f7f7;
        border-radius: $boderImg;
        margin-top: $itemMargin + $itemPadding;
        padding: $itemPadding;
    }

    $dLWidth: 61%;
    $iSize: 51px;
    $borderBtn: 12px;
    $spaceE: 6px;

    .dnb-blog-indication-down {
        display: inline-block;
        background-color: #8d8d8d61;
        width: $iSize;
        height: $iSize;
        position: absolute;
        left: calc(100% - $iSize - $spaceE);
        bottom: 0px;
        border-radius: $borderBtn;
        cursor: pointer;
    }

    .dnb-blog-datalist {
        padding-bottom: $itemPadding;
    }

    .dnb-blog-datacontext+.dnb-blog-datalist {
        width: $dLWidth;

        .dnb-blog-indication-down {
            left: calc($dLWidth - $iSize - $spaceE);
        }
    }

    .dnb-blog-indication-down.dnb-blog-btnind-hide {
        display: none !important;
    }

    .dnb-ditem-container {
        display: inline-block;
        overflow: hidden;
        margin: $itemMargin;
        box-sizing: border-box;
        border-radius: $borderBtn;
        padding: $itemPadding;

        &:hover {
            background-color: #f7f7f7;
            box-shadow: 0 2px 12px 0 rgb(0 0 0 / 18%);
            transform: scale(1.02);
        }

        &.dnb-ditem-active {
            padding: $itemPadding/2;
            box-shadow: 0 2px 12px 0 rgb(0 0 0 / 24%);
        }

        $textH: 51px;
        $textPb: 3px;

        .dnb-ditem-slide {
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            width: 100%;
            height: calc(100% - $textH - $textPb);
            border-radius: $boderImg;
        }

        .dnb-ditem-text {
            max-height: $textH;
            height: $textH;
            margin-bottom: $textPb;

            .dnb-ditem-title {
                white-space: pre;
                text-overflow: ellipsis;
                overflow: hidden;
                margin: 0;
                padding: 6px 1px 0 1px;
                font-size: 14px;
            }

            .dnb-ditem-auth {
                margin: 0;
                padding: 0;
                font-size: 15px;
            }
        }


    }

    .dnb-max-vh {
        max-height: calc(100vh - 105px);
        overflow: hidden;
        overflow-y: auto;
    }
}

.dnb-blog-indication-down span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    box-sizing: border-box;
}

$transFY: 9px;

@-webkit-keyframes sdb05 {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -webkit-transform: rotate(-45deg) translate(-$transFY, $transFY);
        opacity: 0;
    }
}

@keyframes sdb05 {
    0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: rotate(-45deg) translate(-$transFY, $transFY);
        opacity: 0;
    }
}