@import "../../node_modules/bootstrap/scss/functions";
$enable-negative-margins: true;
$primary: #0194f3;
$secondary: #6ebe00;
$light: #f3faff;
$dark: #2c303a;
$border-radius-sm: 0.27rem;
$border-radius: 0.33rem;
$border-radius-lg: 0.69rem; /*rounded-3*/
$navbar-light-active-color: $primary;
$thumbnail-border-radius: 3.69 * $border-radius-lg;

@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/utilities";

$utilities: map-merge(
    $utilities,
    (
        "width":
            map-merge(
                map-get($utilities, "width"),
                (
                    values:
                        map-merge(
                            map-get(map-get($utilities, "width"), "values"),
                            (
                                fm2r: calc(100% - 2rem),
                            )
                        ),
                )
            ),
        "rounded":
            map-merge(
                map-get($utilities, "rounded"),
                (
                    values:
                        map-merge(
                            map-get(map-get($utilities, "rounded"), "values"),
                            (
                                4: 1.1rem,
                                lg: 1.2rem,
                                xl: 1.5rem,
                            )
                        ),
                )
            ),
        "padding-y":
            map-merge(
                map-get($utilities, "padding-y"),
                (
                    values:
                        map-merge(
                            map-get(map-get($utilities, "padding-y"), "values"),
                            (
                                6: $spacer * 4.2,
                                7: $spacer * 5.7,
                            )
                        ),
                )
            ),
    )
);
$grid-breakpoints: map-merge(
    $grid-breakpoints,
    (
        xxxl: 1800px,
    )
);
$container-max-widths: map-merge(
    $container-max-widths,
    (
        xxxl: 1500px,
    )
);

@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap";

@include media-breakpoint-up(xxl) {
    .col-xl-3 {
        width: 21%;
    }
    .col-xl-9 {
        width: 79%;
    }
}

@import "./SF-Pro.scss";

.fontNotoSans {font-family: "Noto Sans";}
.fontSFProD {font-family: "SF Pro Display";}
.fontSFProT {font-family: "SF Pro Text";}
.img-thumbnail {max-width: 180px;}
.bg-dark-o3 {background-color: rgba(44, 48, 58, 0.3);}
.glide__slides .dnb-glide-item {
    min-height: 360px;
    max-height: 360px;
    background-size: cover;
}
.dnb- {
    &h30 {
        min-height: 30px;
        max-height: 30px;
    }
    &h48 {
        min-height: 48px;
        max-height: 48px;
    }
    &h396 {
        min-height: 396px;
        max-height: 396px;
    }
    &h600 {
        min-height: 600px;
        max-height: 600px;
    }
    &pointer {
        cursor: pointer;
    }
    &cardview {
        .card-img-overlay {
            opacity: 0;
            transition: opacity 0.81s;
        }
        .card-body {
            bottom: -150px;
            transition: bottom 0.3s;
        }
        &:hover {
            .card-img-overlay {
                opacity: 1;
            }
            .card-body {
                bottom: 0;
            }
        }
    }
    &img- {
        &cover {
            object-fit: cover;
        }
    }
}
.display {
    &-xl {
        font: {
            size: 6rem;
            weight: 600;
        }
    }
}
#dnbApp .navbar.sticky-top {
    z-index: $zindex-sticky;
}
.navbar-collapse {
    position: relative;

    .nav-link {
        font: {
            size: 18px;
            weight: 500;
        }
    }
}
.dnb-link-group {
    display: inline-flex;
    align-items: center;
    margin-right: 12px;
    margin-left: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.069);
    .nav-link {
        font-size: 12px;
    }
    a.nav-link:first-child {
        font-size: 18px;
        padding-left: 0;
    }
    a.nav-link:last-child {
        padding-right: 0;
    }
    @media (max-width: 992px) {
        display: block;
    }
}
.form-control {
    min-width: 248px;
}
.h4.card-title.h5 {
    font-size: $h4-font-size;
}
.modal-title[id^="dnb-modal-component"] > .text-muted.card-subtitle {
    margin-bottom: 0 !important;
    margin-top: 3px;
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar,
.dnb-scrollbar-w0::-webkit-scrollbar {display: none;}  
/* Hide scrollbar for IE, Edge and Firefox */
body, .dnb-scrollbar-w0 {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}