$myColor: red;

h1 {
  color: $myColor;
}

.dnb-hover-fade {
    position: relative;
    
    .dnb-item-fade {
        position: absolute;
        opacity: 0;
        transform: translateX(0) translateY(-3px) scale(0.97);
    }

    &:hover {

        .dnb-item-fade {
            opacity: 1;
            transform: translateX(0) translateY(-3px) scale(1);
        }
        
    }
}