$myColor: red;

h1 {
  color: $myColor;
}
.navbar-collapse {
    position: relative;
    
    .nav-link {
        font-size: 16px;
        font-weight: 500;;
    }

    &:hover {

        .dnb-item-fade {
            opacity: 1;
            transform: translateX(0) translateY(-3px) scale(1);
        }
        
    }
}
.dnb-link-group {
    display: inline-flex;
    align-items: center;
    margin-right: 12px;
    margin-left: 12px;
    border-bottom: 1px solid rgba(0,0,0,0.21);
    .nav-link {
        font-size: 12px;
    }
    a.nav-link:first-child {
        font-size: 16px;
        padding-left: 0;
    }
    a.nav-link:last-child {
        padding-right: 0;
    }
}